$cigo-ui-color-default: "#f5f5f5";
$cigo-ui-color-red: "#FF5722";
$cigo-ui-color-orange: "#FFB800";
$cigo-ui-color-green: "#009688";
$cigo-ui-color-cyan: "#2F4056";
$cigo-ui-color-blue: "#1E9FFF";
$cigo-ui-color-black: "#393D49";
$cigo-ui-color-grey: "#eee";
